# ======================================
# Enterprise DevSecOps Platform
# Git Ignore Rules
# ======================================

# --------------------------------------
# Operating System Files
# --------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------
# Log Files
# --------------------------------------
*.log

# --------------------------------------
# Python
# --------------------------------------
__pycache__/
*.pyc

# --------------------------------------
# .NET Build Output
# --------------------------------------
bin/
obj/

# --------------------------------------
# Terraform
# --------------------------------------
.terraform/
*.tfstate
*.tfstate.backup

# --------------------------------------
# IDE Settings
# --------------------------------------
.vscode/
.idea/

# --------------------------------------
# Environment Variables
# --------------------------------------
.env
.env.*

# --------------------------------------
# Temporary Files
# --------------------------------------
*.tmp
*.temp
